/* Home Page Styles */
#transactionsContainer {
    margin-top: 20px; /* Adjust the value as needed */
}
.transaction-item {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 12px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    background-color: #ffffff;
}

.transaction-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
}

.transaction-date-amount {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.transaction-date {
    font-size: 0.9em;
    color: #757575;
}

.transaction-amount {
    font-size: 1.1em;
    font-weight: bold;
    color: #333333;
}

.transaction-description {
    margin-top: 8px;
    font-size: 1em;
    color: #424242;
    word-wrap: break-word; /* Allow the description to wrap */
}

.text-danger {
    color: #e53935 !important;
}

.text-success {
    color: #43a047 !important;
}

.balance-info {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.balance-item {
    flex: 1;
    text-align: center;
}

.bar-canvas {
    min-width: 325px;
    max-height: 90px;
    /*min-height: 100px;*/
        /*min-height: 100px;*/
}

.chart-container {
    min-height: 350px; /* Set a maximum width for the chart container */
    min-width: 350px; /* Set a maximum width for the chart container */
    margin: 0 auto; /* Center the chart container */
}
.chart-canvas {
    max-width: 350px;
    min-height: 250px;
}

/* Budgets Page Styles (budgets.html)*/
.budget {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.budget-details {
    flex-grow: 1;
}
.budget-actions {
    display: flex;
    gap: 10px;
}