{% extends "base.html" %}

{% block content %}

<script src="/static/home.js" defer></script>
<div class="budget-selection">
    <label for="budgetSelect">Select a Monthly Budget:</label>
    <select id="budgetSelect" class="form-control" onchange="storeSelectedBudget()">
        {% for monthly_budget in monthly_budgets %}
            <option value="{{ monthly_budget.id }}">{{ monthly_budget.name }}</option>
        {% endfor %}
    </select>
</div>

<!-- Bar Chart for Budget Balance -->
<div id="balanceInfo" class="balance-info d-flex justify-content-between mt-3">
    <div class="balance-item">
        <h4>Start Balance</h4>
        <p id="startBalance">$0.00</p>
    </div>
    <div class="balance-item">
        <h4>End Balance</h4>
        <p id="currentBalance">$0.00</p>
    </div>
</div>

<div>
    <canvas id="balanceBarChart" class="bar-canvas"></canvas>
</div>

<!-- Add Transaction Button -->

<div>
    <h5 class="section-title mt-4">Quick Add</h5>
    <div class="d-flex flex-wrap justify-content-center mb-3">
        <button type="button" class="btn btn-primary mb-2 mx-2" onclick="openAddBudgetModal()">Budget</button>
        <button type="button" class="btn btn-primary mb-2 mx-2" onclick="openAddTransactionModal()">Transaction</button>
        <button type="button" class="btn btn-primary mb-2 mx-2" onclick="openAddCategoryModal()">Category</button>
    </div>
</div>


<!-- Budget Cards Section -->
<div id="budgetCardsContainer" class="container mt-4">
    <h3 class="section-title mb-4">Your Budgets</h3>
    <div class="row g-4">
        {% for budget in budgets %}
            {% if budget.name != 'Income' %}
                <div class="col-12 col-md-6 col-lg-4 budget-card-wrapper" data-monthly-budget-id="{{ budget.monthly_budget_id }}" onclick="navigateToTransactions({{ budget.monthly_budget_id }}, {{ budget.id }}, null)">
                    <div class="budget-card">
                        <div class="budget-card-header">
                            <h5>{{ budget.name }}</h5>
                            <span class="badge {% if budget.start_balance > 0 %}bg-success{% else %}bg-danger{% endif %}">
                                ${{ budget.start_balance }}
                            </span>
                        </div>
                        <div class="budget-card-body">
                            <p class="description">{{ budget.description }}</p>
                            <div class="progress mb-3">
                                <div class="progress-bar {% if budget.start_balance > 0 %}bg-success{% else %}bg-danger{% endif %}" role="progressbar" style="width: {% if budget.start_balance > 0 %}{{ (budget.expenses / budget.start_balance * 100)|round }}%{% else %}0%{% endif %};">
                                    {% if budget.start_balance > 0 %}
                                        {{ (budget.expenses / budget.start_balance * 100)|round }}%
                                    {% else %}
                                        0%
                                    {% endif %}
                                </div>
                            </div>
                            <div class="budget-info">
                                <span>Spent: ${{ budget.expenses }}</span>
                                <span>Remaining: ${{ budget.start_balance - budget.expenses }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

<!-- Transactions Table -->
<div id="transactionsContainer"></div>

<!-- The Add Transaction Modal -->
<div id="addTransactionModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeAddTransactionModal()">&times;</span>
        <h2>Add Transaction</h2>
        <form id="transactionForm">
            <div class="form-group">
                <label for="type">Type</label>
                <select class="form-control" id="type" name="type" required onchange="toggleBudgetField()">
                    <option value="expense">Expense</option>
                    <option value="income">Income</option>
                </select>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" id="description" name="description" required>
            </div>
            <div class="form-group">
                <label for="amount">Amount</label>
                <input type="number" step="0.01" class="form-control" id="amount" name="amount" required>
            </div>
            <div class="form-group">
                <label for="date">Date:</label>
                <input type="date" id="date" name="date" value="{{today_date}}" required>
            </div>
            <div class="form-group" id="budgetGroup">
                <label for="budget_id">Budget</label>
                <select class="form-control" id="budget_id" name="budget_id" required>
                    {% for budget in budgets %}
                        <option value="{{ budget.id }}">{{ budget.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group" id="categoryGroup">
                <label for="category_id">Category</label>
                <select class="form-control" id="category_id" name="category_id">
                    <option value="">None</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Add Transaction</button>
        </form>
    </div>
</div>

<!-- The Edit Transaction Modal -->
<div id="editTransactionModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeEditTransactionModal()">&times;</span>
        <h2>Edit Transaction</h2>
        <form id="editTransactionForm">
            <div class="form-group">
                <label for="editDescription">Description</label>
                <input type="text" class="form-control" id="editDescription" name="description" required>
            </div>
            <div class="form-group">
                <label for="editAmount">Amount</label>
                <input type="number" step="0.01" class="form-control" id="editAmount" name="amount" required>
            </div>
            <div class="form-group">
                <label for="editType">Type</label>
                <select class="form-control" id="editType" name="type" required>
                    <option value="expense">Expense</option>
                    <option value="income">Income</option>
                </select>
            </div>
            <div class="form-group">
                <label for="editDate">Date:</label>
                <input type="date" id="editDate" name="date" required>
            </div>
            <div class="form-group">
                <label for="editBudgetId">Budget</label>
                <select class="form-control" id="editBudgetId" name="budget_id" required>
                    {% for budget in budgets %}
                        <option value="{{ budget.id }}">{{ budget.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="editCategoryId">Category</label>
                <select class="form-control" id="editCategoryId" name="category_id">
                    <option value="">None</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary" onclick="editTransaction()">Update Transaction</button>
        </form>
    </div>
</div>

<!-- The Transaction Details Modal -->
<div id="transactionDetailsModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeTransactionDetailsModal()">&times;</span>
        <h2>Transaction Details</h2>
        <div id="transactionDetails"></div>
        <button type="button" class="btn btn-primary" onclick="openEditTransactionModal()">Update</button>
        <button type="button" class="btn btn-danger" onclick="deleteTransaction()">Delete</button>
    </div>
</div>

<!-- The Add Category Modal -->
<div id="addCategoryModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeAddCategoryModal()">&times;</span>
        <h2>Add Category</h2>
        <form id="categoryForm">
            <div class="form-group">
                <label for="categoryName">Category Name</label>
                <input type="text" class="form-control" id="categoryName" name="name" required>
            </div>
            <div class="form-group">
                <label for="budgetSelect">Select Budget</label>
                <select class="form-control" id="budgetSelect" name="budget_id" required>
                    {% for budget in budgets %}
                        <option value="{{ budget.id }}">{{ budget.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Add Category</button>
        </form>
    </div>
</div>

<!-- The Add Budget Modal -->
<div id="addBudgetModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeAddBudgetModal()">&times;</span>
        <h2>Add Budget</h2>
        <form id="budgetForm">
            <div class="form-group">
                <label for="budgetName">Budget Name</label>
                <input type="text" class="form-control" id="budgetName" name="name" required>
            </div>
            <div class="form-group">
                <label for="startBalance">Start Balance</label>
                <input type="number" step="0.01" class="form-control" id="startBalance" name="start_balance" required>
            </div>
            <input type="hidden" id="userId" name="user_id" value="{{ user.id }}" required>
            <input type="hidden" id="monthlyBudgetId" name="monthly_budget_id" required>
            <button type="submit" class="btn btn-primary">Add Budget</button>
        </form>
    </div>
</div>

{% endblock %}